html {
    background-color: cornflowerblue;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.container__calculator {
    background-color: rgb(63, 59, 59);
    width: 40%;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

#result {
    height: 200%;
    width: 20%;

}

.numbers {
    font-size: 1rem;
    height: -50%;
    width: 25%;
    border-radius: 100px;
    background-color: yellowgreen;
}

.operators {
    font-size: 1rem;
    height: -50%;
    width: 25%;
    border-radius: 100px;
    background-color: rgb(71, 56, 204);
}

#ce {
    font-size: 1rem;
    height: -50%;
    width: 25%;
    border-radius: 100px;
    background-color: rgb(202, 79, 42);
}

#zero {
    font-size: 1rem;
    height: -50%;
    width: 25%;
    border-radius: 100px;
    background-color: rgb(202, 79, 42);
}

#equal {
    font-size: 1rem;
    height: -50%;
    width: 25%;
    border-radius: 100px;
    background-color: rgb(202, 79, 42);
}